.App {
  text-align: center;
}
.App-header {
  background-color: #222;
  color: white;
  font-size: 1.25rem;
  margin: 0;
  padding: 1rem;
}


ul
{
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: indianred;
  border-color: #222;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}


 li {
    list-style: none;
    text-align: center;
    border-style: solid;
    padding: 1px;
    background-color: darksalmon;
    font-family: Times, 'Times New Roman', serif; 
  }